/* root variables */
:root {
  --body-background-color: rgb(150, 150, 150);
  --header-background-color: rgb(122, 122, 122);
  --dark-box-shadow: 0px 0px 10px;
  --light-box-shadow: 0px 0px 10px white;
}
/* Element selectors */
* {
  margin: 0%;
  padding: 0%;
  /*TODO remove border */
  /* border: 1px solid; */
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: var(--body-background-color);
  display: flex;
  flex-direction: column;
}
main {
  padding: 0 1dvh;
}
h1 {
  text-shadow: 0px 0px 20px white;
  text-transform: uppercase;
  padding-left: 1dvh;
  width: 100%;
  font-size: 5dvh;
}
h2 {
  font-size: 4dvh;
}
h3 {
  font-size: 3dvh;
}
h4 {
  font-size: 2.5dvh;
}
header {
  display: flex;
  background-color: var(--header-background-color);
  box-shadow: var(--dark-box-shadow);
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  padding-bottom: 1dvh;
}
h1,
h2,
h3,
h4 {
  padding-bottom: 2dvh;
  padding-top: 2dvh;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
nav img {
  display: none;
  height: 3dvh;
  width: 3dvh;
}
nav ul {
  font-weight: bolder;
}
nav ul li {
  list-style: none;
  white-space: nowrap;
}
p {
  line-height: 2rem;
  font-size: 1.5dvh;
}

li {
  display: inline-flex;
  padding: 1dvh;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  image-rendering: optimizeQuality;
  width: 100%;
  height: auto;
  border: 1px solid black;
  box-shadow: var(--box-shadow);
  border-radius: 15%;
  filter: grayscale(0.8) contrast(1) brightness(1);
}
aside {
  float: left;
  flex-direction: column;
  width: 33%;
  padding: 1dvh;
}
section {
  width: 66%;
  float: right;
}
footer span {
  font-weight: bolder;
}
footer {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: var(--header-background-color);
  border: 1px solid black;
  overflow: hidden;
  padding-bottom: 5dvh;
}
a img:hover {
  transform: scale(1.04);
  box-shadow: var(--light-box-shadow);
  transition-duration: 0.5s;
}
a img:active {
  transform: scale(0.9);
  transition-duration: 0.1ms;
}
a img:focus {
  color: black;
}
a:hover {
  text-shadow: var(--light-box-shadow);
  transition-duration: 0.5s;
}
/* class selector */
.container {
  max-width: 100%;
  flex-grow: 1;
  display: inline-flexbox;
}
.project-list img {
  max-width: 100%;
  height: auto;
  flex-grow: 1;
  border-radius: 15%;
  margin: 0 auto;
}
/* ID selector */
#current-project {
  justify-content: center;
}
#headshot {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  max-width: 80%;
  height: auto;
  flex-grow: 1;
}
#project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#project-list li {
  width: 32%;
}
#contact-info {
  padding: 0 1dvh;
  text-align: center;
}
#contact-info ul {
  display: inline-block;
  display: inline;
}
#contact-list li {
  padding: 0 2dvm;
}
/* @media selectors */
@media only screen and (max-width: 600px) {
    nav img {
    display: flex;
  }
  .hidden {
    display: none;
  } 
}

@media only screen and (max-width: 768px) {
  aside {
    width: 100%;
  }
  section {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    max-width: 90%;
  }
}
